%h1 People
- if @people.empty?
    %h4 No people!
- else
%table{:border => 5}
    %theader
        %th Name
        %th Email
        %th Birthdate
        %th Gender
        %th DNI
        %th Customer
    %tbody
    - @people.each do |value|
        %tr
            %td= value.name
            %td= value.email
            %td= value.birthdate
            %td= value.gender
            %td= value.dni
            %td= value.customer

%br/ 

= link_to 'New people',new_person_path 

        

