= link_to 'Back', people_path

%h4 Create new person

-# %form{:action => people_path,:method => "post"}
-#    %label Name
-#    %input{:name => "person[name]", :type => "text"}/
-#    %br/
-#    %label Email
-#    %input{:name => "person[email]", :type => "email"}/
-#    %br/
-#    %label Birthdate
-#    %input{:name => "person[birthdate]", :type => "date"}/
-#    %br/
-#  %label Gender
-#   %br/
-#    %label Female
-#    %input{:name => "person[gender]", :type => "radio",:value => "female"}/
-#    %label Male
-#    %input{:name => "person[gender]", :type => "radio",:value => "male"}/
-#    %br/
-#    %label DNI
-#    %input{:name => "person[dni]", :type => "text"}/
-#    %br/
-#    %label Customer
-#    %br/
-#    %label True
-#    %input{:name => "person[customer]", :type => "radio",:value => "true"}/
-#    %label False
-#    %input{:name => "person[customer]", :type => "radio",:value => "false"}/
-#    %br/
-#    %button{:type => "submit"} Send
-#    %input{type: 'hidden', value: form_authenticity_token, name: 'authenticity_token'}

= form_with(model: @person, local: true) do |form|
    .field
        = form.label :name
        = form.text_field :name
    .field
        = form.label :email
        = form.email_field :email
    .field
        = form.label :birthdate
        = form.date_field :birthdate
    .field
        = form.label :gender
        = form.select :gender, [['Male','male'],['Female','female'],['Unknown','unknown']]
    .field
        = form.label :dni
        = form.number_field :dni
    .field
        = form.label :customer?
        .field
            = form.label :yes
            = form.radio_button :customer, true, checked: true
        .field
            = form.label :no
            = form.radio_button :customer, false
    = form.submit

   
    