%h1 Hobbies#new

= form_with(model: [@person, @hobby], local: true) do |form|
    .field
        = form.label :name
        = form.text_field :name
    .field
        = form.label :description
        = form.email_field :description
    .field
        = form.label :kind
        = form.select :kind, options_for_select(@kind)
    .field
        = form.hidden_field :person_id
    = form.submit