// Place all the styles related to the people controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    background-image: url(https://images2.alphacoders.com/678/thumb-1920-67800.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    position: center;
}

h1 {
    color:blue;
}

th {
    color:white;
}

td {
    color:white;
}
